%h1 Listing waypoints

%table
  %tr
    %th Name
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @waypoints.each do |waypoint|
    %tr
      %td= waypoint.name
      %td= waypoint.latitude
      %td= waypoint.longitude
      %td= link_to 'Show', waypoint
      %td= link_to 'Edit', edit_waypoint_path(waypoint)
      %td= link_to 'Destroy', waypoint, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
