%h1 Listing boats

%table
  %tr
    %th Name
    %th Period
    %th Start number
    %th Trip
    %th
    %th

  - @boats.each do |boat|
    %tr
      %td= link_to boat.name, boat
      %td= boat.period
      %td= boat.start_number
      %td= boat.trip
      %td= link_to 'Edit', edit_boat_path(boat)
      %td= link_to 'Destroy', boat, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Boat', new_boat_path
